<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}">
 <meta charset="UTF-8" />
 <title>Lista Usuário</title>
</head>

<body>

	<nav th:replace="~{base :: menu}"></nav> 
	  
	 <div class="container">
	              
		    <div class="card-header">:: Lista Usuario ::</div>
            
             <div class="mt-2">		    
		       <a href="/usuario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
		     </div>
		     
		    <div class="card-body">
		         <div class="row ">
				     <div class="col-md-6 alert alert-dark mb-0">Nome:</div>
				     <div class="col-md-2 alert alert-dark mb-0">Apelido:</div>
				     <div class="col-md-4 alert alert-dark mb-0">E-mail:</div>
				</div>
								
			     <div class="card" th:each="usuario : ${usuarios}">
		
	                <div class="row">
	                    <div class="col-md-6"><span th:text="${usuario.nome}"> </div>
	                    <div class="col-md-2"><span th:text="${usuario.apelido}"></div>
	                    <div class="col-md-4"><span th:text="${usuario.email}"></div>
	                </div> 
	   
				  </div> 
		    
		     </div> 
	     
		
	  </div>   
</body>
</html>